/*---------- Fonts  ----- */

@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i');

/*----------/Fonts -----*/
/*---------- Html & Body ----- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*----------/Html & Body -----*/
/*---------- Landing Page -----*/

.bg-img {
    background-image: url("band-assets/images/monkees.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.bg-img:after {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, rgba(0, 0, 0, 0.9) 100%);
  content: '';
}

#the-monkees {
    position: fixed;
    bottom: 40%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 100px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-div {
    position: fixed;
    bottom: 27.5%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 125px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-btn {
    background-color: transparent !important;
    color: white !important;
    height: 75px;
    width: 300px !important;
}

.backstage-btn:hover {
    background-color: rgba(255,255, 255, 0.1) !important;
}

#come_bkstg {
    text-decoration: none ;
    color: white;
    font-size: 30px;
}

#come_bkstg:hover {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Aleo', serif;
    font-weight: 300;
}

/*---------- Media Queries -----*/

@media only screen and (max-width: 1024px)  {
    
#the-monkees {
    position: fixed;
    bottom: 40%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 100px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

}
@media only screen and (max-width: 615px) {
    
#the-monkees {
    position: fixed;
    bottom: 40%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 55px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-btn {
    background-color: transparent !important;
    color: white !important;
    height: 55px;
    width: 225px !important;
}

.backstage-div {
    bottom: 27.5%;
}

#come_bkstg {
    font-size: 20px;
}

}
@media only screen and (max-width: 415px)  {
    
#the-monkees {
    position: fixed;
    bottom: 40%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 45px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-btn {
    background-color: transparent !important;
    color: white !important;
    height: 45px;
    width: 215px !important;
}

.backstage-div {
    bottom: 27.5%;
}

#come_bkstg {
    font-size: 18px;
}

}

/*----------/Media Queries -----*/

/*----------/Landing Page -----*/
/*---------- Backstage Page -----*/

.main {
    font-family: "Aleo", sans-serif;
    height: 100%;
}

#video {
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    box-shadow: 0px 10px 30px black;
    height: auto;
    width: auto;
}

nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 13px black;
}

.nav-item {
    text-align: center;
}

footer {
    font-family: "Aleo", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #c12828;
}

.navbar-toggler {
    height: 90px;
    width: 90px;
}

.fas.fa-ellipsis-v{
    font-size: 45px;
}

/*---------- Media Queries -----*/

@media only screen and (max-width: 1199px) {
    
.nav-item {
    font-size: 40px;
}

}
@media only screen and (max-width: 640px) {
    
    #video {
        width: 100%;
    }
    
}

/*----------/Media Queries -----*/

/*----------/Backstage Page -----*/
/*---------- mtb.html -----*/

.mtbmain {
    padding-top: 100px;
    height: auto;
}

.arcmain {
    padding-top: 75px;
    height: auto;
    margin-bottom: 50px;
}

.bndmain {
    padding-top: 75px;
    margin-bottom: 100px;
    height: auto;
}

 .mtbrow {
        padding-bottom: 75px;
    }

.dj_col:hover {
    opacity: 0.4;
}

.base { 
    padding: 10px 0;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 0;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.base:hover .image {
  opacity: 0.2;
}

.base:hover .middle {
  opacity: 1;
}

.hover_text {
  background-color: #f3f3f3;
  color: rgba(0,0,0,.5);
  font-size: 20px;
  padding: 10px 20px;
}

.hover_text:hover {
  color: rgb(0,0,0);
}

.focused-image {
    opacity: 0.2;
}

.focus_text {
  background-color: #f3f3f3;
  color: rgba(0,0,0,.5);
  font-size: 20px;
  padding: 10px 20px;
}

.focused_middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.mtb_h1 {
    font-size: 28px ;
}

.mtb_page_p_gi b {
    color: #ab8ae9;
}

.mtb_page_p_gi  {
    font-size: 14px;
    line-height: 18px;
}

.mtb_page_p_h b  {
    color: #ab8ae9;
}

.mtb_page_p_h  {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.mtb_page_p_ld  {
    font-size: 14px;
}

.social_links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Aleo', serif;
    font-weight: 300;
}

.social_links a:hover {
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Aleo', serif;
    font-weight: 300;
}

.social_links_{
    color: white;
}

.social_links_:hover{
    color: #272727;
}



/*---------- Media Queries -----*/

@media only screen and (max-width: 1024px)  {
    
.mtb_h1 {
    font-size: 20px ;
}
.mtb_page_p_gi,
.mtb_page_p_h,
.mtb_page_p_ld,
.social_links,
.social_links a
{
    font-size: 12px;
    line-height: 15px;
}

}
@media only screen and (max-width: 767px) {
    
    footer {
        position: relative;
    }

}
@media only screen and (max-width: 576px) {

   .mtbrow {
        padding-bottom: 150px;
    }
    
    .bm_main {
        
}
    
}
@media only screen and (max-width: 450px)  {
    
.mtb_h1 {
    font-size: 16px ;
}

.mtb_page_p_gi,
.mtb_page_p_h,
.mtb_page_p_ld,
.social_links,
.social_links a
{
    font-size: 11px;
    line-height: 15px;
}
}


/*----------/Media Queries -----*/

/*----------/mtb.html -----*/
/*---------- archives.html -----*/

/*----------/archives.html -----*/

/*---------- availability.html -----*/

.perform_p {
    font-size: 21px;
    color: white;
}

/*---------- Media Queries -----*/

@media only screen and (max-width: 1024px)  {

.currentdates h1,
.adates h1 {
    font-size: 75px;
}

.currentdates p,
.adates p {
    font-size: 18px;
}
}
@media only screen and (max-width: 729px)  {

.currentdates h1,
.adates h1 {
    font-size: 50px;
}

.currentdates p,
.adates p {
    font-size: 14px;
}
}
@media only screen and (max-width: 400px)  {

.currentdates h1,
.adates h1 {
    font-size: 45px;
}

.currentdates p,
.adates p{
    font-size: 12px;
}
}

/*----------/Media Queries -----*/

/*----------/availability.html -----*/
/*---------- special class names -----*/

.fff {
    color: #ffffff;
}

.redtxt {
    color: #c12828;
}

.aleoff {
    font-family: 'Aleo', sans-serif;
}

.tacenter {
    text-align: center;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.maxheight {
    max-height: 183px;
}

.width100 {
    width: 80%;
}

.fcolor {
    color: rgba(0,0,0,.5)
}
 
/*----------/special class names -----*/