/*---------- Fonts / CDN ----- */



@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i');

/*----------/Fonts -----*/

/*---------- Html & Body ----- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Aleo", sans-serif !important;
}

/*----------/Html & Body -----*/

/*---------- Landing Page -----*/

.bg-img {
    background-image: url("band-assets/images/monkees.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.bg-img:after {
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, rgba(0, 0, 0, 0.9) 100%);
  height: 100%;
  width: 100%;
  content: '';
}

#the-monkees {
    position: fixed;
    bottom: 40%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 100px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-div {
    position: fixed;
    bottom: 20%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 125px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

.backstage-btn {
    background-color: transparent !important;
    color: white !important;
    height: 75px;
    width: 300px !important;
}

.backstage-btn:hover {
    background-color: rgba(255,255, 255, 0.1) !important;
}

button a {
    text-decoration: none !important;
    color: white;
    font-size: 30px;
}

button a:hover {
    color: white;
}

/*---------- Media Queries ( Tablet + ) -----*/

@media (min-width: 790px)  {
    
#the-monkees {
    position: fixed;
    bottom: 30%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 125px;
    font-family: 'Aleo', serif;
    font-weight: 700;
    z-index: 2;
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Aleo', serif;
    font-weight: 300;
}
}

/*----------/Media Queries ( Tablet + ) -----*/
/*----------/Landing Page -----*/


/*---------- Backstage Page -----*/

.nav-item {
    text-align: center;
}

div.jumbotron {
    padding-left: 20px;
    text-align: center;
    height: 150px;
    padding-top: 15px;
}

iframe:before {
    border: 3px solid white;
}


/*----------/Backstage Page -----*/


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: black;
    background-color: #eeeeee;
}

/*---------- mtb.html -----*/


.dj_col:hover {
    opacity: 0.4;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.hover_text {
  background-color: #f3f3f3;
  color: rgba(0,0,0,.5);
  font-size: 20px;
  padding: 10px 20px;
}
.hover_text:hover {
  color: rgb(0,0,0);
}

/*----------/mtb.html -----*/

/*---------- special class names -----*/

.fff {
    color: #ffffff;
}

.aleoff {
    font-family: 'Aleo', sans-serif;
}

.tacenter {
    text-align: center;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.maxheight {
    max-height: 183px;
}

.width100 {
    width: 80%;
}

iframe video{
    height: 720px !important;
}
/*----------/special class names -----*/